<div class="crd">
        <h3>Corporate Cakes</h3>
        <hr>
        <div class="card-group 1">
                <div class="card">
                        <a routerLink="/featuredcakes/perfume_themed"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                        <div class="card-body">
                        </div>
                        <div class="card-footer">
                            <strong>PERFUME THEMED</strong>
                        </div>
                    </div>
            <div class="card">
                <a routerLink="/featuredcakes/gardening"><img class="card-img-top" src="../../assets/p7.png" alt="Cartoon characters"></a>
                    <div class="card-body">
                        </div>
                            <div class="card-footer">
                             <strong>GARDENING</strong>
                        </div>
            </div>
            <div class="card">
                    <a routerLink="/featuredcakes/drip"><img class="card-img-top" src="../../assets/p7.png" alt="1st/25th/50th Birthday"></a>
                    <div class="card-body">
                    </div>
                    <div class="card-footer">
                        <strong>DRIP</strong>
                    </div>
                </div>
            <div class="card">
                        <a routerLink="/featuredcakes/film_theme"><img class="card-img-top" src="../../assets/p7.png" alt="All Disney princesses"></a>
                        <div class="card-body">
                        </div>
                        <div class="card-footer">
                            <strong>FILM THEME</strong>
                        </div>
            </div>
            <div class="card">
                    <a routerLink="/featuredcakes/unicorn"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                    <div class="card-body">
                    </div>
                    <div class="card-footer">
                        <strong>UNICORN</strong>
                    </div>
                </div>
               
               
        <div class="card-group b">
            <div class="card">
                <a routerLink="/featuredcakes/castle_cakes"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <strong>CASTLE CAKES</strong>
                </div>
            </div>
            <div class="card">
                    <a routerLink="/featuredcakes/science_themed"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                    <div class="card-body">
                    </div>
                    <div class="card-footer">
                        <strong>SCIENCE THEMED</strong>
                    </div>
                </div>
                <div class="card">
                        <a routerLink="/featuredcakes/aeroplanes"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                        <div class="card-body">
                        </div>
                        <div class="card-footer">
                            <strong>AEROPLANES</strong>
                        </div>
                    </div>
                    <div class="card">
                            <a routerLink="/featuredcakes/luxury_fashion"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                            <div class="card-body">
                            </div>
                            <div class="card-footer">
                                <strong>LUXURY FASHION</strong>
                            </div>
                        </div>


                        </div>
                        <div class="card-group c">
                                <div class="card">
                                        <a routerLink="/featuredcakes/iphone_apple"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                                        <div class="card-body">
                                        </div>
                                        <div class="card-footer">
                                            <strong>IPHONE OR APPLE THEMED</strong>
                                        </div>
                                    </div>
                                <div class="card">
                                        <a routerLink="/featuredcakes/make_up"><img class="card-img-top" src="../../assets/p7.png" alt="All video games"></a>
                                        <div class="card-body">
                                        </div>
                                        <div class="card-footer">
                                            <strong>MAKE UP CAKES</strong>
                                        </div>
                                    </div>
                                <div class="card">
                                        <a routerLink="/featuredcakes/religious_themed"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                                        <div class="card-body">
                                        </div>
                                        <div class="card-footer">
                                            <strong>RELIGIOUS THEMED CAKES</strong>
                                        </div>
                                    </div>
                                </div>

                        </div>
         </div>