<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="about-us footer-section">
          <h4>About Us</h4>
          <br/>
          <p>Kool Cakes Bakery was formerly known as Paul’s Bakers, which started in 1994 under the ownership of Kulwinder Paul Kumar & his wife Salinder Kaur. Paul's skill and proficiency in the art of modelling gum paste flowers and decorations are exemplary.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="more-links footer-section">
            <h4>Help</h4>
            <br/>
            <ul>
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Terms and Conditions</a>
              </li>
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">Refund Policies</a>
              </li>
              <li>
                <a href="#!">Cookies</a>
              </li>
            </ul>
          
        </div>
      </div>
      <div class="col-md-3">
        <div class="useful-links footer-section">
          <h4>Useful Links</h4>
          <br/>
          <ul>
            <li><a href="#">Our Cakes</a></li>
            <li><a href="#">Cake Builder</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Offers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="contact-us footer-section">
          <h4>Contact Us</h4>
          <br/>
          <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;020-70525152</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;support@koolcakes.co.uk</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>