.outer {
    background-color: antiquewhite;
    padding-bottom: 5%;
    /* text-align: center; */
}
mat-card-title, mat-card-subtitle {
    text-align: center;
}
.inner {
    background-color: white;
    /* text-align: center; */
    /* width: 100%; */
    margin: 4% 1% 1% 1%;
}
.inner mat-card-content {
    margin-left: 10%;
    padding-bottom: 5%;
}

li {
    list-style: none;
    /* text-align: center; */
    margin: 5% 10% 5% 10%;
}
.back{
    float: right;
}
a{
    text-decoration: none;
}
.up, .del{
    margin: 8px;
    background-color: rgb(180, 209, 245);
}
/* img{
    float: right;
} */