<div class="container" id="category-page-container" style="max-width:1400px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categories</li>
        </ol>
    </nav>
    <div class="categories-div">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item">
                    <div class='card'>
                        <div class="card-body text-center">
                            <a routerLink="/product">
                                <img class="img-fluid" src="../../assets/sports-cake.jpg"/>
                                <hr>
                                <h5>Sports Cake</h5>
                                <h6>(600+ Categories)</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item">
                    <div class='card'>
                        <div class="card-body text-center">
                            <a routerLink="/product">
                                <img class="img-fluid" src="../../assets/special-occassion.png"/>
                                <hr>
                                <h5>Special Occasion</h5>
                                <h6>(200+ Categories)</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item">
                    <div class='card'>
                        <div class="card-body text-center">
                            <a routerLink="/product">
                                <img class="img-fluid" src="../../assets/kids-cake.png"/>
                                <hr>
                                <h5>Kids Cake</h5>
                                <h6>(800+ Categories)</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item">
                    <div class='card'>
                        <div class="card-body text-center">
                            <a routerLink="/product">
                                <img class="img-fluid" src="../../assets/anniversary-cakes.webp"/>
                                <hr>
                                <h5>Anniversary Cake</h5>
                                <h6>(50+ Categories)</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item">
                    <div class='card'>
                        <div class="card-body text-center">
                            <a routerLink="/product">
                                <img class="img-fluid" src="../../assets/corporate-cakes.jpeg"/>
                                <hr>
                                <h5>Corporate Cakes</h5>
                                <h6>(500+ Categories)</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item">
                    <div class='card'>
                        <div class="card-body text-center">
                            <a routerLink="/product">
                                <img class="img-fluid" src="../../assets/pet-cakes.png"/>
                                <hr>
                                <h5>Pet Cakes</h5>
                                <h6>(200+ Categories)</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item">
                    <div class='card'>
                        <div class="card-body text-center">
                            <a routerLink="/product">
                                <img class="img-fluid" src="../../assets/video-games-cake.png"/>
                                <hr>
                                <h5>Video Games Cake</h5>
                                <h6>(700+ Categories)</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item">
                    <div class='card'>
                        <div class="card-body text-center">
                            <a routerLink="/product">
                                <img class="img-fluid" src="../../assets/car-cakes2.jpg"/>
                                <hr>
                                <h5>Car Cakes</h5>
                                <h6>(100+ Categories)</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>