<div class="container" id="cart-page-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
    </nav>
    <div class="row">
        <div class="cart-row">
          <div class="cart-item">
            <table class="table table-responsive">
              <thead>
                <th>Item</th>
                <th>Shape, Size & Type</th>
                <th>Decoration</th>
                <th>Quantity</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="row">
                      
                          <img width="130" height="100" src="https://www.cakerstreet.com/upload/Product_images/resized_800_800/unicorn-birthday-cake-with-handmade-roses-6571.PNG" class="img-fluid">
                      
                      
                          <p>Unicorn Birthday Cake with Handmade Roses (CS-6571)</p>
                      
                    </div>
                    
                  </td>
                  <td>
                      <ul class="shape-list list">
                          <li>Shape</li>
                          <li>Round</li>
                      </ul>
                      <ul class="type-list list">
                          <li>Type</li>
                          <li>Icing</li>
                      </ul>
                      <ul class="size-list list">
                          <li>Size</li>
                          <li>Medium (8 x 8)</li>
                      </ul>
                  </td>
                  <td>
                      <ul class="special-requirements list">
                          <li>Special dietery requirements</li>
                          <li>Eggless</li>
                      </ul>
                      <ul class="sponge-type list">
                          <li>Select sponge type</li>
                          <li>Chocolate sponge</li>
                      </ul>
                      <ul class="filling list">
                          <li>Select your filling</li>
                          <li>Medium (8 x 8)</li>
                      </ul>
                      <ul class="message list">
                          <li>Would you like to add message onto the cake </li>
                          <li>Medium (8 x 8)</li>
                      </ul>
                  </td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="delivery-details-div">
            <h5>Delivery Details</h5>
            <div class="row text-center">
              <form>
                <div class="form-group">
                  <label>Postcode:</label>
                  <input type="text" class="form-control"/>
                  <br/>
                  <input type="submit" class="btn btn-secondary" value="Check If Deliverable"/>
                </div>
              </form>
            </div>
            <div class="action-buttons pull-right">
              <button class="btn btn-danger">Remove Cart</button>
              <button class="btn btn-success" style="margin-left:10px">Proceed to Checkout</button>
            </div>
          </div>
        </div>
        
    </div>
</div>