<body>
    <h3>Welcome to Admin Pannel</h3> <br>
    <div class="main">


        <span class="offer">
                      <mat-select placeholder="MANAGE OFFERS">
                          <mat-option>
                               <a routerLink="/admin/offersreg">Offer register</a> 
                          </mat-option>
                          <mat-option>
                                <a routerLink="/admin/alloffers">Offer's List</a> 
                           </mat-option>

                      </mat-select>
                      
                    </span>
<!--         
        <div class="offer">        
            MANAGE OFFERS <br>
            <a routerLink="/admin/offerspage">
                <button mat-raised-button>Offers</button>
            </a> <br> <br>
        </div> -->

        <span class="news">
            <!-- <br>
            <a routerLink="/admin/newsregform">
                  <button mat-raised-button (onclick)="NewsRegister();">News</button>
            </a> <br> <br> -->
            <mat-select placeholder="ADD OR EDIT NEWS ">
                    <mat-option>
                         <a routerLink="/admin/newsregform">News register</a> 
                    </mat-option>
                    <mat-option>
                          <a routerLink="/admin/alloffers">News List</a> 
                     </mat-option>

                </mat-select>
                
        </span>

        <div class="track">
            CHANGE ORDER STATUS <br>
            <!-- <a routerLink="http://localhost:3000/"> -->
                <button mat-raised-button (onclick)="NewsRegister();">Order Status</button> <br> <br>
        </div>

        <div class="cakes">
            ADD CAKES <br>
            <a routerLink="/admin/cakecatreg">
                <button mat-raised-button (onclick)="CakesRegister();">Category's cake</button>
        </a><br> <br>
        </div>

        <div class="cakes">
                ADD CAKES <br>
                <a routerLink="/admin/cakereg">
                    <button mat-raised-button (onclick)="CakesRegister();">Add cake</button>
            </a><br> <br>
            </div>

    </div>
</body>