body{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    padding-top: 2%;
    text-align: center;
}
.main {
   margin: 1% 1% 1% 2%;
}
.offer mat-select {
    width: 13%;
    height: 15px;
    /* margin: 2% 10% 2% 10%; */
}
mat-option {
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}