<div class="container" id="product-page-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Birthday Cake</a></li>
            <li class="breadcrumb-item active" aria-current="page">Unicorn</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <div class="product-image-div">
                <img class="img-fluid" src="https://www.cakerstreet.com/upload/Product_images/resized_800_800/unicorn-birthday-cake-with-handmade-roses-6571.PNG"/>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="about-product">
                    <h2>Unicorn Birthday Cake with Handmade Roses</h2>
                    <span><b>SKU:</b> 21211</span>
                    <p>This Unicorn Birthday Cake is beautifully designed with Handmade Roses which makes this the best choice for your kid! Surprise your loved one by personalising this birthday cake!</p>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="order-form">
                        <form>
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="">Select Cake Size/Portion</option>
                                    <option value="small">Small</option>
                                    <option value="medium">Medium</option>
                                    <option value="large">Large</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="">Special dietary requirements</option>
                                    <option value="small">Small</option>
                                    <option value="medium">Medium</option>
                                    <option value="large">Large</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="">Select sponge type</option>
                                    <option value="small">Small</option>
                                    <option value="medium">Medium</option>
                                    <option value="large">Large</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="">Select your filling</option>
                                    <option value="small">Small</option>
                                    <option value="medium">Medium</option>
                                    <option value="large">Large</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Would you like to add message? (Optional)</label>    
                                <input type="text" class="form-control" placeholder="Max 50 Characters"/>
                                <br/>
                                <button class="btn btn-primary">Add</button>
                            </div>
                            <br/><br/> 
                            <input type="submit" class="btn btn-primary btn-block" value="Add to Cart">
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="order-details">
                        <div class="shape-size-type">
                            <p>Shape, Size & Type</p>
                            <ul class="shape-list list">
                                <li>Shape</li>
                                <li class="value">Round</li>
                            </ul>
                            <ul class="type-list list">
                                <li>Type</li>
                                <li class="value">Icing</li>
                            </ul>
                            <ul class="size-list list">
                                <li>Size</li>
                                <li class="value">Medium (8 x 8)</li>
                            </ul>
                        </div>
                        <div class="decoration">
                            <p>Decoration</p>
                            <ul class="special-requirements list">
                                <li>Special dietery requirements</li>
                                <li class="value">Eggless</li>
                            </ul>
                            <ul class="sponge-type list">
                                <li>Select sponge type</li>
                                <li class="value">Chocolate sponge</li>
                            </ul>
                            <ul class="filling list">
                                <li>Select your filling</li>
                                <li class="value">Medium (8 x 8)</li>
                            </ul>
                            <ul class="message list">
                                <li>Would you like to add message onto the cake </li>
                                <li class="value"></li>
                            </ul>
                        </div>
                        <br/>
                        <div class="action-buttons-div">
                            <a routerLink="/cart" class="btn btn-primary">Add to Cart</a>
                            <a routerLink="/checkout" class="btn btn-secondary" style="margin-left:10px;">Checkout</a>
                        </div>

                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="product-description">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#description">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#storage">Storage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ingredients">Ingredients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#allergens">Allergens</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#delivery-details">Delivery details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#disclaimer">Disclaimer</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="description" class="container tab-pane active"><br>
                            <p>Description will come here.</p>
                        </div>
                        <div id="storage" class="container tab-pane fade"><br>
                            <p>Storage will come here.</p>
                        </div>
                        <div id="ingredients" class="container tab-pane fade"><br>
                           <p>Ingredients will come here.</p>
                        </div>
                        <div id="allergens" class="container tab-pane fade"><br>
                            <p>Allergens will come here</p>
                        </div>
                        <div id="delivery-details" class="container tab-pane fade"><br>
                            <p>Delivery details will come here</p>
                        </div>
                        <div id="disclaimer" class="container tab-pane fade"><br>
                            <p>Disclaimer will come here.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>