<div class="crd">
        <h3>Corporate Cakes</h3>
        <hr>
        <div class="card-group 1">
                <div class="card">
                        <a routerLink="/kids/crown_tiara"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                        <div class="card-body">
                        </div>
                        <div class="card-footer">
                            <strong>CROWN TIARA</strong>
                        </div>
                    </div>
            <div class="card">
                <a routerLink="/kids/safari_themed"><img class="card-img-top" src="../../assets/p7.png" alt="Cartoon characters"></a>
                    <div class="card-body">
                        </div>
                            <div class="card-footer">
                             <strong>SAFARI THEMED</strong>
                        </div>
            </div>
            <div class="card">
                    <a routerLink="/kids/comic_themed"><img class="card-img-top" src="../../assets/p7.png" alt="1st/25th/50th Birthday"></a>
                    <div class="card-body">
                    </div>
                    <div class="card-footer">
                        <strong>COMIC THEMED</strong>
                    </div>
                </div>
            <div class="card">
                        <a routerLink="/kids/peppa_pig"><img class="card-img-top" src="../../assets/p7.png" alt="All Disney princesses"></a>
                        <div class="card-body">
                        </div>
                        <div class="card-footer">
                            <strong>PEPPA PIG</strong>
                        </div>
            </div>
               
                </div>
               
                <div class="card-group">
            <div class="card">
                <a routerLink="/kids/number_shaped"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <strong>NUMBER SHAPED</strong>
                </div>
            </div>
            <div class="card">
                    <a routerLink="/kids/minions"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                    <div class="card-body">
                    </div>
                    <div class="card-footer">
                        <strong>MINIONS</strong>
                    </div>
                </div>
                <div class="card">
                        <a routerLink="/kids/paw_patrol"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                        <div class="card-body">
                        </div>
                        <div class="card-footer">
                            <strong>PAW PATROL</strong>
                        </div>
                    </div>
                    <div class="card">
                            <a routerLink="/kids/avengers"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                            <div class="card-body">
                            </div>
                            <div class="card-footer">
                                <strong>AVENGERS</strong>
                            </div>
                        </div>
                       
                </div>
                                <div class="card-group">
                                        <div class="card">
                                                <a routerLink="/kids/lego"><img class="card-img-top" src="../../assets/p7.png" alt="All video games"></a>
                                                <div class="card-body">
                                                </div>
                                                <div class="card-footer">
                                                    <strong>LEGO</strong>
                                                </div>
                                            </div>
                                            <div class="card">
                                                    <a routerLink="/kids/pj_mask"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                                                    <div class="card-body">
                                                    </div>
                                                    <div class="card-footer">
                                                        <strong>PJ Mask</strong>
                                                    </div>
                                                </div>
                                               <div class="card">
                                                        <a routerLink="/kids/shark_themed"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
                                                        <div class="card-body">
                                                        </div>
                                                        <div class="card-footer">
                                                            <strong>SHARK THEMED</strong>
                                                        </div>
                                            </div>
                                                                                        
                                </div>
                    
         </div>