<div class="pic1">
    <a href=""> <img src="../../assets/pic1.png" alt="" class="p1"></a>
</div>
<div class="pic2">

    <div class="row">
        <div class="col-md-4 text-center ab"> <a routerLink=""><img src="../../assets/p2.png" alt="" class="p2"></a></div>
        <div class="col-md-4 text-center ab"> <a routerLink=""><img src="../../assets/p3.png" alt="" class="p2"></a></div>
        <div class="col-md-4 text-center ab"> <a routerLink=""><img src="../../assets/p4.png" alt="" class="p2"></a>
        </div>
    </div>
</div>
<hr>

    <div class="content">
       <p class="text-center"> Explore Our<u style="color:red"> Most </u> Selling Gifts</p>
    </div>


<div class="bestsell">
    <div class="row">

        <div class="col-md-3 text-center t"> <a routerLink=""> <img src="../../assets/p5.png" alt="" class="p3"><p class="text-center text">Cakes</p></a> </div>
        <div class="col-md-3 text-center t"> <a routerLink=""> <img src="../../assets/p6.png" alt="" class="p3" ><p class="text-center text">Gifts</p></a></div>
        <div class="col-md-3 text-center t"> <a routerLink=""> <img src="../../assets/p7.png" alt="" class="p3"> <p class="text-center text">Flowers</p></a></div>
        <div class="col-md-3 text-center t"> <a routerLink=""> <img src="../../assets/p8.png" alt="" class="p3"><p class="text-center text">Birthday</p></a>
        </div>

    </div>
</div>


<div class="col-md-12">
<div class="foot">
    <img  class="low" src="../../assets/p9.png" alt="">
</div>
</div>