<!-- <div class="content-div">
    <div class="banner">
        <div>
            <a routerLink=""> 
                <img src="../../assets/halloween_banner.png" alt="" class="img-fluid">
            </a>
        </div>
    </div>
</div> -->
<div class="banner">
        <div>
            <a routerLink=""> 
                <img src="../../assets/halloween_banner.png" alt="" class="img-fluid">
            </a>
        </div>
    </div>
<div class="container" id="content-container">
    <div class="categories" id="cake-categories">
        <h2 class="text-center">Cake Categories</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="category-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/retirement.jpg" alt="retirement cake" class="img-fluid category-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/graduation.jpg" alt="retirement cake" class="img-fluid category-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/short notice cakes_1.jpg" alt="retirement cake" class="img-fluid category-image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--Explore our most selling cakes-->
    <div id="most-selling-cakes">
        <h2 class="text-center">Explore Our Most Selling Cakes</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="most-selling-image-div">
                    <img src="../../assets/kids cakes.jpg" alt="kidscake" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="most-selling-image-div">
                    <img src="../../assets/age cakes.jpg" alt="" class="img-fluid">
                </div>
            </div>
        
                <!-- <div class="col-md-6">
                    <div class="most-selling-image-div">
                        <img src="../../assets/photo cakes.jpg" alt="photo cake" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="most-selling-image-div">
                        <img src="../../assets/theme cakes.jpg" alt="" class="img-fluid">
                    </div>
                </div> -->
        </div>
    </div>
    
    

    <!--All occassions-->
    <!-- <div class="alloccasion">
        <div class="row">
            <div class="col-md-12">
                    <img src="../../assets/cake image.png" alt="" class="img-fluid">
            </div>
        </div>
    </div> -->
    

    <!--Wedding and anniversary-->
    <div id="wedding-and-anniversary">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <div class="wedding-image-div">
                            <img src="../../assets/weddingposter.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wedding-list">
                            <p>Wedding Cakes</p>
                            <ul>
                                <li>Premium Cakes</li>
                                <li>Simplistic</li>
                                <li>Religious</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <div class="anniversary-image-div">
                            <img src="../../assets/annivervaryposter.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="anniversary-list">
                            <p>Anniverisary Cakes</p>
                            <ul>
                                <li>1st Anniversary Cake</li>
                                <li>Silver Jubliee Cake</li>
                                <li>Golden Jubliee Cake</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>




    <!-- <div class="shortnotice">
        <img src="../../assets/short notice cake (1).jpg" alt="" class="img-responsive">
    </div>
    <div id="novelty">
        <div class="row">
            <div class="col-md-12">
                    <img src="../../assets/image 33..jpg" alt="" class="img-fluid">
            </div>
        </div>
        
    </div>-->
    
    
    

    <!--Gift Cake-->
    <div id="gift-cake">
        <h2 class="text-center">Gift a Cake</h2>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <div class="gift-cake-div text-center">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/friend.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gift-cake-div text-center">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/closed_one.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gift-cake-div text-center">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/boss.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gift-cake-div text-center">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/someone_special.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--End of Gift Cake-->




    <!--For her and for him-->
    <div id="him-her">
        <div class="row her-row">
            <div class="col-md-6">
                <div class="for-her-list">
                    <h3>For Her</h3>
                    <ul>
                        <li><a routerLink="/page-not-found"> For Girlfriend <i class="fa fa-caret-right"></i></a></li>
                        <li><a routerLink="/page-not-found"> For Wife <i class="fa fa-caret-right"></i></a></li>
                        <li><a routerLink="/page-not-found"> For Sister <i class="fa fa-caret-right"></i></a></li>
                        <li><a routerLink="/page-not-found"> For Mother <i class="fa fa-caret-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="for-her-image">
                    <img src="../../assets/for her.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row him-row">
            <div class="col-md-6">
                <div class="for-him-image">
                    <img src="../../assets/for him.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="for-him-list">
                    <h3>For Him</h3>
                    <ul>
                        <li><a routerLink="/page-not-found"> For Girlfriend <i class="fa fa-caret-right"></i></a></li>
                        <li><a routerLink="/page-not-found"> For Wife <i class="fa fa-caret-right"></i></a></li>
                        <li><a routerLink="/page-not-found"> For Sister <i class="fa fa-caret-right"></i></a></li>
                        <li><a routerLink="/page-not-found"> For Mother <i class="fa fa-caret-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End of for her and for him-->

    <!--Build a cake-->
    <div id="build-cake">
        <a routerLink="/page-not-found">
            <img src="../../assets/buildacake.png" alt="" class="img-fluid">
        </a>
    </div>
    <!--End of build cake-->

    <!--Explore more-->
    <div id="explore-more">
        <h2 class="text-center">Explore Our Range</h2>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="explore-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/iphone1.png" alt="" class="img-fluid"/>
                    </a>
                    
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="explore-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/bag11.png" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="explore-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/car1.png" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="explore-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/casino1.png" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="explore-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/cricket1.png" alt="" class="img-fluid"/>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="explore-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/crown1.png" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="explore-image-div">
                    <a routerLink="/page-not-found">
                        <img src="../../assets/doctor1.png" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="explore-image-div">
                    <img src="../../assets/drip1.png" alt="">
                </div>
            </div>
        </div>
        
    </div>
    <!--End of explore more-->
    
</div>
    
   

