<div class="pic1">
    <a routerLink=""> <img src="../../assets/halloween_banner.png" alt="" class="p1"></a>
</div>
<div class="pic2">

    <div class="row">
        <div class="col-md-4 text-center ab"> <a routerLink=""><img src="../../assets/retirement.jpg" alt="retirement cake" class="p2"></a></div>
        <div class="col-md-4 text-center ab"> <a routerLink=""><img src="../../assets/graduation.jpg" alt="" class="p2"></a></div>
        <div class="col-md-4 text-center ab"> <a routerLink=""><img src="../../assets/short notice cakes_1.jpg" alt="" class="p2"></a>
        </div>
    </div>
</div>
<hr>

    <div class="content">
       <p class="text-center"> <b>Explore Our Most Selling Cakes </b></p>
    </div>

    <div class="mostsell">
        <span class="single">
            <img src="../../assets/kids cakes.jpg" alt="kidscake">
        </span>
        <span class="containsthree">
            <div class="b1">
                   <img src="../../assets/age cakes.jpg" alt="">
            </div>
            <div class="b1">
                    <img src="../../assets/photo cakes.jpg" alt="photo cake">
            </div>
            <div class="b1">
                        <img src="../../assets/theme cakes.jpg" alt="">
            </div>
        </span>  
    </div>

    <div class="alloccasion">
        <img src="../../assets/cake image.png" alt="">
    </div>

    <div class="wedanniversary">
        <span class="wedding">
            <span class="wed">
                <img src="../../assets/weddingposter.png" alt="">
            </span>
            <!-- <span class="wedcont">
                <ul>
                    <li>Cakes</li>
                    <li>Flowers</li>
                    <li>Gifts</li>
                    <li>Chocolates</li>
                    <li>Personalized</li>
                </ul>
            </span> -->
        </span>

    <span class="anniver">
            <span class="annimg">
                    <img src="../../assets/annivervaryposter.png" alt="">
                </span>
                <!-- <span class="wedcont">
                    <h4>Anniversary Gifts</h4>
                    <hr style="width: 200px;">
                    <ul>
                        <li>Cakes</li>
                        <li>Flowers</li>
                        <li>Gifts</li>
                        <li>Chocolates</li>
                        <li>Personalized</li>
                    </ul>
                </span> -->
        </span>
</div>

    <div class="shortnotice">
        <img src="../../assets/short notice cake (1).jpg" alt="">
    </div>

    <div class="novelty">
        <img src="../../assets/image 33..jpg" alt="">
    </div>

    <div class="content">
            <p class="text-center"> <b>GIFT A CAKE </b></p>
         </div>

    <div class="giftcake">
        <span class="p1">
            <img src="../../assets/friend.png" alt="">
        </span>
        <span class="p1">
            <img src="../../assets/closed_one.png" alt="">
        </span>
        <span class="p1">
            <img src="../../assets/boss.png" alt="">
        </span>
        <span class="p1">
            <img src="../../assets/someone_special.png" alt="">
        </span>
    </div>

    <div class="her">
        <span class="hertype">
            <h6>For Her</h6>
            <ul>
                <li>For Girlfriend</li>
                <li>For Wife</li>
                <li>For Sister</li>
                <li>For Mother</li>
            </ul>
            
        </span>
        <span class="herimg">
            <img src="../../assets/for her.png" alt="">
        </span>
    </div> <br> <br>

    <div class="him">
            <span class="himtype">
                <h6>For Him</h6>
                <ul>
                    <li>For Boyfriend</li>
                    <li>For Husband</li>
                    <li>For Brother</li>
                    <li>For Father</li>
                </ul>
            </span>
            <span class="himimg">
                <img src="../../assets/for him.png" alt="">
            </span>
        </div>

        <div class="buildacake">
            <img src="../../assets/buildacake.png" alt="">
        </div>

        
    <div class="content">
            <p class="text-center" style="color: rgb(236, 26, 96);"> <b>Explore More With Us </b></p>
         </div>

         <div class="explore">
            <span class="e1">
                <img src="../../assets/iphone1.png" alt="">
            </span>
            <span class="e1">
                    <img src="../../assets/bag11.png" alt="">
            </span>
            <span class="e1">
                    <img src="../../assets/car1.png" alt="">
            </span>
            <span class="e1">
                    <img src="../../assets/casino1.png" alt="">
            </span>
            <span class="e1">
                <img src="../../assets/cricket1.png" alt="">
            </span>
            <br>
            <span class="e1">
                    <img src="../../assets/crown1.png" alt="">
            </span>
            <span class="e1">
                    <img src="../../assets/doctor1.png" alt="">
            </span>
            <span class="e1">
                    <img src="../../assets/drip1.png" alt="">
                </span>
            <span class="e1">
                        <img src="../../assets/lawyer1.png" alt="">
            </span>
            <span class="e1">
                    <img src="../../assets/whiskey1 (1).png" alt="">
                </span>
         </div>
     
<!-- 
<div class="bestsell">
    <div class="row">

        <div class="col-md-3 text-center t"> <a routerLink=""> <img src="../../assets/p5.png" alt="" class="p3"><p class="text-center text">Cakes</p></a> </div>
        <div class="col-md-3 text-center t"> <a routerLink=""> <img src="../../assets/p6.png" alt="" class="p3" ><p class="text-center text">Gifts</p></a></div>
        <div class="col-md-3 text-center t"> <a routerLink=""> <img src="../../assets/p7.png" alt="" class="p3"> <p class="text-center text">Flowers</p></a></div>
        <div class="col-md-3 text-center t"> <a routerLink=""> <img src="../../assets/p8.png" alt="" class="p3"><p class="text-center text">Birthday</p></a>
        </div>

    </div>
</div> -->


<!-- <div class="col-md-12">
<div class="foot">
    <img  class="low" src="../../assets/p9.png" alt="">
</div>
</div> -->