h2,h3{
    font-family: 'Bree Serif';
    margin-bottom:50px;
}

h5{
    font-family: 'Bree Serif';
}

#content-container{
    max-width:1600px;
    padding-left:30px;
    padding-right:30px;
}

#cake-categories{
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom:20px;
}

#cake-categories .category-image-div{
    padding:10px;
}

#cake-categories .category-image{
    border-radius:8px;
    transition:transform 0.3s;
}

#cake-categories .category-image:hover{
    transform:scale(1.08);
}

.hr{
    margin-top:0px;
}

#most-selling-cakes{
    margin-bottom:60px;
}

#most-selling-cakes .most-selling-image-div{
    padding:30px;
}

#wedding-and-anniversary{
    margin-bottom:90px;
}

#wedding-and-anniversary .wedding-list p, #wedding-and-anniversary .anniversary-list p{
    color:#dc3a43;
    font-size:25px;
    font-family:'Muli';
}

#wedding-and-anniversary .wedding-list ul, #wedding-and-anniversary .anniversary-list ul{
    list-style: none;
    margin:0;
    padding:0;
}

#wedding-and-anniversary .wedding-list ul li a, #wedding-and-anniversary .anniversary-list ul li a {
    text-decoration:none;
    color:#222;
}

#wedding-and-anniversary .wedding-list ul li a:hover{
    text-decoration:underline;
}

#wedding-and-anniversary .anniversary-list ul li a:hover{
    text-decoration:underline;
}

#wedding-and-anniversary .wedding-list ul li, #wedding-and-anniversary .anniversary-list ul li{
    list-style: none;
    margin:0;
    font-family: 'Muli';
    font-size:20px;
    padding:8px;
}

#gift-cake{
    margin-bottom:80px;
}

#gift-cake .gift-cake-div{
    margin-bottom:30px;
    transition: transform 0.3s;
}

#gift-cake .gift-cake-div:hover{
    transform: scale(1.08);
}

#him-her{
    margin-bottom:90px;
}

#him-her .her-row{
    margin-bottom:50px;
}



#him-her .for-her-list, #him-her .for-him-list{
    margin:10px auto;
    display:block;
    max-width:400px;
}



#him-her .for-her-list ul{
    list-style:none;
}

#him-her .for-her-list ul li a, #him-her .for-him-list ul li a{
    text-decoration:none;
    color:#636466;
}

#him-her .for-her-list ul li a:hover, #him-her .for-him-list ul li a:hover{
    text-decoration:underline;
}

#him-her .for-her-list ul li, #him-her .for-him-list ul li{
    font-family: 'Muli';
    font-size:20px;
    color:#636466;
    padding:8px;
    border-bottom:1px solid #e5e5e5;
}

#him-her .for-her-list ul li i, #him-her .for-him-list ul li i{
    float:right;
    margin-top:8px;
}



#him-her .for-him-list ul{
    list-style:none;
}



#build-cake{
    margin-bottom:90px;
}

#explore-more{
    margin-bottom:60px;
}

#explore-more h3{
    font-family:'Bree Serif';
}

#explore-more .explore-image-div{
    padding:20px;
    text-align: center;
    transition: transform 0.3s;
    
}

#explore-more .explore-image-div:hover{
    transform:scale(1.08);
}

#trust-points{
    padding-bottom: 20px;
}

#trust-points .trust-block{
    border-right:1px solid #ddd;
    padding:20px;
}






/*End of My CSS*/


